.place-order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    flex-wrap: wrap; 
}

.place-order-left {
    width: 100%;
    max-width: max(36%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c1bdbd;
    outline-color: #B9375D;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 20px;
}

@media (max-width: 900px) {
    .place-order {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 750px) {
    .place-order {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .place-order-left,
    .place-order-right {
        max-width: 100%;
    }

    .place-order-left .multi-fields {
        flex-direction: column;
    }

    .place-order-left .title {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .place-order-left input {
        font-size: 16px;
    }

    .place-order .cart-total button {
        width: 100%;
    }
}
@media (max-width: 1200px) and (min-width: 767px) {
    .place-order {
        justify-content: center;
        text-align: center;
    }

    .place-order-left,
    .place-order-right {
        align-items: center;
        text-align: left; 
    }
}
