.payment-container {
  max-width: 500px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: whitesmoke;

}

.payment-container h2 {
  margin-bottom: 20px;
}

.payment-container button {
  padding: 10px;
  background-color: #B9375D;
  color: whitesmoke;
  border: none;
  width: max(15vw, 200px);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.payment-methods {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pay-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.payment-success {
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  border: 2px dashed #4caf50;
  background-color: #f0fff0;
  border-radius: 8px;
  animation: fadeIn 1s ease-in-out;
}

.payment-success p {
  font-weight: 600;
  font-size: medium;
}

.success-img {
  height: 50px;
  width: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}