/* @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Edu+SA+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+PL:wght@100..400&family=Space+Grotesk:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Playwrite+AU+QLD:wght@100..400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Edu SA Hand", cursive;
  font-style: normal;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  margin: auto;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}